<div class="container">
    <div class="row">
        <div style="border: 2px solid #5bc0de; padding: 24px 24px 20px 24px; border-radius: 6px; margin-top: 15px; margin-bottom: 15px;">
            <h3 style="color: #000; margin-top: 0px;">About Us</h3>
            <p>TutorialDB is a work in progress. If you have any suggests or ideas please contact us below.</p>
            <h4>Contact</h4>
            <a href="mailto: morgandeanhi@gmail.com" target="_top" >Email Morgan Dean at morgandeanhi@gmail.com</a>

        </div>
    </div>

</div>
