<div class="container">
    <div class="row">
        <div style="border: 2px solid #5bc0de; padding: 24px 24px 20px 24px; border-radius: 6px; margin-top: 15px; margin-bottom: 15px;">
            <h3 style="color: #000; margin-top: 0px;">About Us</h3>
            <p>UniconTech and Urban420Network have banded together to create a one stop shop site for any tutorial on the entire web!</p>
            <h4>Contact</h4>
            <a href="mailto: unicorncalcs@gmail.com" target="_top" >Email UnicornTech at unicorncalcs@gmail.com</a>
            <br />
            <a href="mailto: urban420network@gmail.com" target="_top">Email Urban420 at urban420network@gmail.com</a>
        </div>
    </div>

</div>