<div class="container">
    <div class="col s12">
        <div style="border: 2px solid; border-color: #0094ff; padding: 24px 24px 20px 24px; border-radius: 6px; margin-top: 12px;">
            <h1 style="color: #000; margin-top: 0px;">Error - {{error.status}}</h1>
            <p>We are sorry, but it appears that this page does not exist.</p>
            <p>Perhaps you typed in the wrong address?</p>
        </div>
    </div>
</div>