<div class="container">
    <div class="row">
        <div style="border: 2px solid #5bc0de; padding: 24px 24px 20px 24px; border-radius: 6px; margin-top: 15px; margin-bottom: 15px;">
            <h2 style="color: #000; margin-top: 0;">TutorialDB</h2>
            <p>Tutorial DB is a Free-to-Use service that aims to list almost every tutorial on the internet in a user friendly way.</p>
            <p>It is moderated and edited by volunteers. Anyone can submit a new tutorial, much like a wiki or forum.</p>
            <hr>
            <p>Learn how to submit a tutorial <a href="/tutorial?id=1">here</a>, after you have logged in with google!</p>
        </div>
    </div>
</div>
