<div class="container">
    <div class="row">
        <div style="border: 2px solid #5bc0de; padding: 24px 24px 20px 24px; border-radius: 6px; margin-top: 15px; margin-bottom: 15px;">
            <h2 style="color: #000; margin-top: 0;">TutorialDB</h2>
            <h5>Browse tutorials on the <a href="/tutorials">tutorials page</a>, or search for one using the search bar above!</h5>
            <hr>
            <h4>About</h4>
            <p>TutorialDB aims to become the go-to database for all your tutorial needs. If you need something on car repair, or even passing a level in Dungeon Defenders II, we aim to have you covered.</p>
            <p>The only way for this to happen is from your contributions to the website. If you find a tutorial that helped you, take a moment to compose an entry (as described below) and help another person in need!</p>
            <hr>
            <h5>Contributing</h5>
            <p>Learn how to submit a tutorial <a href="/tutorial?id=1">here</a>, after you have logged in with google!</p>
        </div>
    </div>
</div>
