<div class="container">
    <div class="row">
        <div style="border: 2px solid #5bc0de; padding: 24px 24px 20px 24px; border-radius: 6px; margin-top: 15px; margin-bottom: 15px;">
            <h3 style="color: #000; margin-top: 0px;">Not Logged In</h3>
            <p>Hey! You didn't sign in, so you can't view this page! Please click "Sign in with Google" on the top right to view this page :)</p>
        </div>
    </div>

</div>
