<br>
<div class="container">
    <h3 id="searchHeader" style="color: #000; margin-top: 0;">Search</h3>
    <hr>
    <div id="searchResults"></div>
    <div id="search-footer">
        <hr>
        <p>Didn't find what you were looking for? Try <a href="https://www.instructables.com" target="_blank">Instructables</a>,
            <a href="https://www.wikihow.com" target="_blank">WikiHow</a>, or even <a href="https://www.google.com"
                                                                                      target="_blank">Google</a>.</p>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script src="/javascript/index.js"></script>
<script>
    search();
</script>