<div class="container">
    <div class="row">
        <div style="border: 2px solid #5bc0de; padding: 24px 24px 20px 24px; border-radius: 6px; margin-top: 15px; margin-bottom: 15px;">
            <h3 style="color: #000; margin-top: 0px;">Logged out</h3>
            <p>You have successfully logged out of TutorialDB. To sign back in click "Sign in with Google" on the top right.</p>
        </div>
    </div>

</div>