<br>
<div class="container">
    <div class="">
        <ul class="tabs center">
            <li class="tab col s3"><a class="active" href="#categories">Browse</a></li>
            <li class="tab col s3"><a href="#tags">Categories</a></li>
        </ul>
        <div class="row center" id="categories">
            <div class="section scrollspy" id="pop-scroll">
                <h3 style="color: #000; margin-top: 0px;">Popular</h3>
                <div style="border: 2px solid #5bc0de; padding: 24px 24px 20px 24px; border-radius: 6px; margin-top: 15px; margin-bottom: 15px;">
                    <div class="row center" id="loading-pop">
                        <img width="64" height="64" src="/icons/loading.gif">
                    </div>
                    <div class="row tutorial-wrapper" id="popular">

                    </div>
                </div>
            </div>
            <div class="section scrollspy" id="view-scroll">
                <h3 style="color: #000; margin-top: 0px;">Most Viewed</h3>
                <div style="border: 2px solid #5bc0de; padding: 24px 24px 20px 24px; border-radius: 6px; margin-top: 15px; margin-bottom: 15px;">
                    <div class="row center" id="loading-viewed">
                        <img width="64" height="64" src="/icons/loading.gif">
                    </div>
                    <div class="row tutorial-wrapper" id="viewed">
                    </div>
                </div>
            </div>
            <div class="section scrollspy" id="rand-scroll">
                <h3 style="color: #000; margin-top: 0px;">Random</h3>
                <div style="border: 2px solid #5bc0de; padding: 24px 24px 20px 24px; border-radius: 6px; margin-top: 15px; margin-bottom: 15px;">
                    <div class="row center" id="loading-rand">
                        <img width="64" height="64" src="/icons/loading.gif">
                    </div>
                    <div class="row tutorial-wrapper" id="random">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="tags">
            <h2>Coming soon!</h2>
        </div>
    </div>
</div>


<div class="col hide-on-med-and-down m3 l2">
    <div class="toc-wrapper" style="margin-left: 10px;">
        <ul class="section table-of-contents" id="scroll-table">
            <li><a href="#pop-scroll" id="scroll-1">Popular Tutorials</a></li>
            <li><a href="#view-scroll" id="scroll-2">Top Tutorials</a></li>
            <li><a href="#rand-scroll" id="scroll-3">Random Tutorials</a></li>
        </ul>
    </div>
</div>
