<br>
<div class="container">
    <h3 id="searchHeader" style="color: #000; margin-top: 0;">Your Tutorials</h3>
    <hr>
    <div id="user-tutorials">
        <div class="row center" id="loading">
            <img width="64" height="64" src="/icons/loading.gif">
        </div>
    </div>
    <div id="user-footer">
        <hr>
        <p>Need help with anything? Contact us on the <a href="about" target="_blank">About</a> page.</p>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script src="/javascript/index.js"></script>
<script>
    loadUserProfiles();
</script>